<div class="btn-container">
    <div id="insert-btn" class="main-btn">Insert Data</div>
    <div id="update-btn" class="main-btn">Update Data</div>
    <div id="search-btn" class="main-btn">Search Data</div>
    <div id="view-btn" class="main-btn">View Data</div>
</div>

