<div class="insert-container">

    <div class="input-container">
        <div class="text-container">
            Input App ID
        </div>
        <input type="text" id="update-apptid-search-input">
    </div>

    <button class="submit-btn" id="update-search-submit-btn">Edit</button>

</div>