.insert-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

.input-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: #0E6BA8;
    padding: 5px 10px;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}

.input-container>input{
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    width: 50%;
}

.input-container>select{
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    width: 400px;
}

.text-container{
    width: 50%;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    font-family:'Inter', sans-serif;
    font-size: 20px;
    color:white;
}

.submit-btn {
    background-color: #0A2472;
    color: white;
    border: none;
    font-family: 'Inter', sans-serif;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}

.submit-btn:hover {
    color: lightblue;
}

