.view-container {
    margin-top: 20px;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
    background-color: #0A2472;
}

th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    color: white;
}