<div class="insert-container">

    <div class="input-container">
        <div class="text-container">
            Patient ID
        </div>
        <input type="text" id="search-patientid-input">
    </div>

    <div class="input-container">
        <div class="text-container">
            Doctor ID
        </div>
        <input type="text" id="search-doctorid-input">
    </div>

    <div class="input-container">
        <div class="text-container">
            Clinic ID
        </div>
        <input type="text" id="search-clinicid-input">
    </div>

    <div class="input-container">
        <div class="text-container">
            App ID
        </div>
        <input type="text" id="search-apptid-input">
    </div>

    <div class="input-container">
        <div class="text-container">
            App Status
        </div>
        <select id="search-appstatus-input">
            <option value="">Select Status</option>
            <option value="Complete">Complete</option>
            <option value="Queued">Queued</option>
            <option value="NoShow">NoShow</option>
            <option value="Serving">Serving</option>
            <option value="Cancel">Cancel</option>
            <option value="Skip">Skip</option>
        </select>
    </div>

    <div class="input-container">
        <div class="text-container">
            Time Queued
        </div>
        <input type="datetime-local" id="search-timequeued-input">
    </div>

    <div class="input-container">
        <div class="text-container">
            Queue Date
        </div>
        <input type="datetime-local" id="search-queuedate-input">
    </div>

    <div class="input-container">
        <div class="text-container">
            Start Time
        </div>
        <input type="datetime-local" id="search-starttime-input">
    </div>

    <div class="input-container">
        <div class="text-container">
            End Time
        </div>
        <input type="datetime-local" id="search-endtime-input">
    </div>

    <div class="input-container">
        <div class="text-container">
            Appointment Type
        </div>
        <select id="search-apptype-input">
            <option value="">Select Type</option>
            <option value="Consultation">Consultation</option>
            <option value="Inpatient">Inpatient</option>
        </select>
    </div>

    <div class="input-container">
        <div class="text-container">
            Is Virtual
        </div>
        <select id="search-isvirtual-input">
            <option value="">Select Virtual</option>
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>

    <div class="input-container">
        <div class="text-container">
            Region
        </div>
        <select id="search-clinicregion-input">
            <option value="">Select Region</option>
            <option value="Ilocos Region (I)">Ilocos Region (I)</option>
            <option value="Cagayan Valley (II)">Cagayan Valley (II)</option>
            <option value="Central Luzon (III)">Central Luzon (III)</option>
            <option value="CALABARZON (IV-A)">CALABARZON (IV-A)</option>
            <option value="MIMAROPA (IV-B)">MIMAROPA (IV-B)</option>
            <option value="Bicol Region (V)">Bicol Region (V)</option>
            <option value="Cordillera Administrative Region (CAR)">Cordillera Administrative Region (CAR)</option>
            <option value="National Capital Region (NCR)">National Capital Region (NCR)</option>
        </select>
    </div>

    <button class="submit-btn" id="search-insert-submit-btn">Search</button>

</div>
