<div class="btn-container">
    <div id="report-1-btn" class="main-btn">Hospital</div>
    <div id="report-2-btn" class="main-btn">Status</div>
    <div id="report-3-btn" class="main-btn">Region</div>
    <div id="report-4-btn" class="main-btn">Virtual</div>
</div>
